@import '_variables';
@import '_mixins';

html {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  // Use info from https://www.lockedownseo.com/firefox-font-weight-too-bold/ to fix Firefox font boldness
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

body {
  background: $white;
  color: $black;
  font-size: $text-base;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 64px;
}

h2 {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 42px;
  word-spacing: 5px;
}
