/*---- Colors ------------------------*/
$white: rgb(255, 255, 255);
$gray: rgb(218, 226, 230);
$black: rgb(37, 41, 44);
$blue: rgb(0, 149, 234);
$yellow: rgba(239, 165, 0, 1);

/*---- Type ------------------------*/
$text-base: 18px;

/*---- Animation ------------------------*/
$timing-moderate: 200ms;
